@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

* {margin: 0; padding: 0; font-family: 'Geologica', sans-serif;}

header
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    border: 1px solid black;
    background-color: rgb(50, 50, 170);
    color: white;

}

button.conteudoOP
{
    background-color: rgb(46, 46, 180);
    transition: 0.2s;
}

button.conteudoOP:hover
{
    transform: scale(1.1);
    margin: 0px 15px;
}


button#rel
{
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

button#rel:hover
{
    background-color: transparent;
}

button#btcontent
{
    font-weight: bolder;
    font-size: 20px;
}

body
{
    position: relative;
}

p{
    font-weight: bolder;
}

img#livro
{
    width: 100px;
}

div.menu
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

button
{
    color: white;
    border: 1px solid white;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
}

button:hover
{
    background-color: rgb(80, 122, 212);
    border: none;
}

main
{
    padding-top: 50px;
    width: 90%;
    margin: auto;
    text-align: center;
}

a
{
    text-decoration: none;
    color: rgb(38, 38, 189);
    border-bottom: 1px solid black;
}

a:hover
{
    color: rgb(92, 92, 20);
}
button.leis
{
    color: white;
    background-color: rgb(70, 70, 201);
    transition: 0.2s;
    border: none;
}

button.leis:hover
{
    background-color: rgb(191, 191, 248);
    color: rgb(46, 46, 180);
    transform: scale(1.1);
}

iframe
{
    width: 100%;
    height: 700px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 10px solid rgb(80, 122, 212);
}